/* google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600&display=swap');

:root{
  /* colors & background */
  --main-color:#3627ae;
  --secondary-color:#0fd99a;
  --white:#ffffff;
  --black:#000000;
  --gray:#dddddd;
  --dark-gray:#a6a9b6;

  /* fonts & weights */
  --font:'Montserrat', sans-serif;
  --ligit:300;
  --reg:400;
  --med:500;
  --bold:600;
}



/* container */
 .container{ 
  padding-right: 1.5rem;
  padding-left: 1.5rem;
  margin-right: auto;
  margin-left: auto;
}

/* small screen */
@media all and (min-width:768px){

  .container{
    width:750px;
  }
}

/* medium*/
@media all and (min-width:992px){

  .container{
    width:970px;
  }
}

/* large */
@media all and (min-width:1200px){

  .container{
    width:1170px;
  }

  
/* extra large */
@media all and (min-width:1400px){

  .container{
    width:1320px;
  }
}
}