/* google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600&display=swap');

:root{
  /* colors & background */
  --main-color:#3627ae;
  --secondary-color:#0fd99a;
  --white:#ffffff;
  --black:#000000;
  --dark-gray:#a6a9b6;

  /* fonts & weights */
  --font:'Montserrat', sans-serif;
  --light:300;
  --reg:400;
  --med:500;
  --bold:600;
}

